.bun-logo {
    width: 400px;
    height: 400px;
}

.upper-break {
    height: 5px;
    color: black;
    background-color: black;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}

.back {
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    font-weight: lighter;
    width: 200px;
    height: 40px;
    display: block;
    margin: 10px auto 10px auto;
}

/* For gallary page */

.back:hover {
    background-color: yellow;
    border-color: transparent;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    display: block;
    margin: 10px auto 10px auto;
    cursor: pointer;
}

.sub-title {
    font-size: 40px;
    text-align: center;
    margin: 150px auto 50px auto;
    font-weight: lighter;
}

.product-whole {
    font-size: 23px;
    background-color: transparent;
    width: 316px;
    height: 410px;
    text-align: left;
    display: block;
    margin: 10px auto 50px auto;
    font-weight: lighter;
}

.product-img {
    width: 300px;
    height: 300px;
    margin: 10px 5px 0px 5px;
    border: solid black 3px;
}

.product-whole:hover {
    font-size: 23px;
    background-color: yellow;
    width: 316px;
    height: 410px;
    text-align: left;
    display: block;
    margin: 10px auto 50px auto;
    font-weight: bold;
    cursor: pointer;
}

.pro-title {
    margin: 0px 7px 0px 7px;
}

/* For detail page */

.detail-img {
    width: 700px;
    height: 700px;
    display: block;
    margin: 50px auto 10px auto;
    border: solid black 3px;
}

.detail-text {
    font-size: 28px;
    text-align: left;
    width: 400px;
    height: 100px;
    margin: 30px auto 80px auto;
}

.lable-style {
    font-size: 28px;
    /* display: block; */
    margin: 30px 392px 80px 392px;
    /* margin: 30px auto 80px auto; */
    text-align: left;
}

select {
    width: 400px;
    height: 50px;
    font-size: 28px;
    text-align: left;
    display: block;
    margin: 10px auto 80px auto;
    border: solid black 3px;
}

.conclu {
    width: 400px;
    height: 50px;
    font-weight: 550;
    margin: 50px auto 100px 392px;
    padding: 0px 0px 0px 
}

.conclu-text {
    margin-left: 30px; 
    font-size: 30px
}

.add {
    display: inline-block;
    background-color: yellow;
    border: solid black 3px;
    width: 200px;
    height: 50px;
    font-size: 27px;
    font-weight: 550;
    margin: 0px 0px 0px 68px;
}

/* Cart page */

.cart-img {
    width: 150px;
    height: 150px;
    border: solid black 3px;
    display: block;
    margin: 70px auto 10px auto;
}

.cart-summ {
    width: 500px;
    height: 100px;
    text-align: center;
    margin: 30px auto 20px auto;
    font-size: 28px;
    text-indent: 2px;
}

.cart-rem {
    display: block; 
    text-align: center; 
    font-size: 18px
}

.cart-text {
    text-align: center;
    font-size: 30px; 
    margin-bottom: 50px
}

.lower-break {
    height: 5px;
    width: 800px;
    color: black;
    background-color: black;
    margin-bottom: 50px;
}

.check {
    height: 50px;
    width: 180px;
    background-color:yellow;
    border: solid black 3px;
    display: block;
    margin: 5px auto 100px auto;
    font-size: 26px;
    font-weight: 550;
}

.cart-summ {
    text-align: center;
    font-size: 30px; 
    margin-bottom: 25px;
}