body {
    background-color: #F8FAE4;
    background-image: url("asset/Group 57.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


/* For Gallery */
.gal-main {
    display: flex;
    margin-top: 100px;
    align-items: top;
}

#gallery-h {
    width: 70%;
    display: block;
    margin: 200px 0px 200px auto;
    font-family: "Inconsolata";
    font-size: 60px;
    font-weight: 900;
    color: #3B5437;
    text-align: right;
    
}

.gal-back {
    width: 128px;
    height: 128px;
    margin-right: auto;
    margin-left: auto;
    background-color: #658361;
    border: none;
    color: white;
    font-family: "Dosis";
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    border-radius: 50%;
}

.gal-back:hover {
    margin-top: -5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
}

#heu-list {
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 64px;
}

.heu-sec {
    display: flex;
    width: 320px;
    min-height: 101px;
    max-height: 640px;
    background-color: #D8CBBB;
    border-radius: 15px;
    flex-wrap: wrap;
}


.heu-sec-text {
    width: 100%;
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.heu-heading {
    width: 80%;
    font-family: "Inconsolata";
    color: #234C63;
    font-size: 26px;
    text-align: center;
    font-weight: 700;
}

.heu-sec-tri {
    width: 0;
	height: 0;
    margin: 30px 5px auto auto;
	border-left: 25px solid #D8CBBB;
	border-right: 25px solid #D8CBBB;
	border-top: 50px solid #234C63;
    border-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.heu-sec-tri:hover {
    cursor: pointer;
}

.exp {
    margin: 10px auto 10px auto;
    padding-left: 10px;
    text-align: left;
    border-top: 3px solid #4A4A4A;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 20px;
    color: #234C63;
    overflow: scroll;
}

.hidden {
    display: none;
}
