body {
    background-color: #F8FAE4;
    background-position: center bottom;
    background-image: url("asset/Group 55.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}



h1 {
    font-family: "Inconsolata";
    font-size: 60px;
    font-weight: 700;
    color: #3B5437;
    text-align: center;
    padding-top: 63px;
    padding-bottom: 63px;
}

.intro-home {
    width: 70%;
    margin: 50px auto 50px auto;
    padding-top: 31px;
    padding-bottom: 31px;
    text-align: left;
    font-family: "Inconsolata";
    font-size: 30px;
    font-weight: 500;
}

.nav-sec {
    width: 80%;
    display: flex;
    margin: 80px auto 100px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

#nav-btn-left {
    height: 64px;
    line-height: 0px;
    text-align: center;
    width: 384px;
    background-color: #829B7B;
    font-family: "Dosis";
    font-size: 32px;
    color: #F8F9F7;
    border-radius: 15px;
    font-weight: 300;
    border: none;
    transition: box-shadow 1s, margin-top 1s;
    transition-timing-function: ease;
}

#nav-btn-left:hover {
    margin-top: -5px;
    cursor: pointer;
    box-shadow: 5px 8px #888888;
}

#nav-btn-right {
    height: 64px;
    line-height: 0px;
    text-align: center;
    width: 384px;
    background-color: #829B7B;
    font-family: "Dosis";
    font-size: 32px;
    color: #F8F9F7;
    border-radius: 15px;
    font-weight: 300;
    border: none;
    transition: box-shadow 1s, margin-top 1s;
    transition-timing-function: ease;
}

#nav-btn-right:hover {
    margin-top: -5px;
    cursor: pointer;
    box-shadow: 5px 8px #888888;
}

#intro {
    width: 80%;
    min-height: 250px;
    box-sizing: border-box;
    margin: 50px auto 50px auto;
    padding: 50px 30px 50px 30px;
    text-align: left;
    font-family: "Inconsolata";
    font-size: 30px;
    font-weight: 500;
    background-color: #829B7B;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-text {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #F8F9F7;
}

.bar {
    width: 100%;
    margin: 10px auto 20px auto;
    display: flex;
    align-items: center;
}

.circle {
    min-width: 28px;
    max-width: 36px;
    min-height: 28px;
    border-radius: 14px;
    background-color: #D9D9D9;
}

.circle-final {
    min-width: 28px;
    max-width: 36px;
    min-height: 28px;
    border-radius: 14px;
    background-color: #379956;   
}

.line {
    min-width: 185px;
    max-width: 237px;
    height: 10px;
    transition: 2s ease-out;
    background: linear-gradient(to left, #D9D9D9 50%, #379956 50%) right;
    background-size: 200%;
}

.line-static {
    min-width: 185px;
    max-width: 237px;
    height: 10px;
    background-color: #379956;
}

.line2 {
    background-Position: left;
}

.line-final {
    min-width: 185px;
    max-width: 237px;
    height: 10px;
    background-color: #379956;
}

#next {
    display: none;
    margin-right: 50px;
    margin-left: auto;
    width: 192px;
    height: 32px;
    text-decoration: none;
}

.next-btn {
    width: 192px;
    height: 32px;
    font-family: "Inconsolata";
    font-size: 26px;
    border: none;
    background-color: #829B7B;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    transition: box-shadow 0.5s, margin-top 0.5s;
    transition-timing-function: ease;
}

.next-btn:hover {
    margin-top: -3px;
    cursor: pointer;
    box-shadow: 3px 3px #888888;
}

#nav-sec-text {
    width: 80%;
    display: flex;
    margin: 80px auto 100px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#ans {
    background-color: #829B7B;
    width: 768px;
    height: 64px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: none;
    color: #F8F9F7;
}

#submit {
    display: block;
    width: 128px;
    height: 36px;
    background-color: #D9D9D9;
    font-family: "Dosis";
    font-size: 20px;
    border-radius: 10px;
    border: none;
    color: #706868;  
}

#submit:hover {
    /* margin-top: -2px; */
    cursor: pointer;
    box-shadow: 3px #888888;
}


/* result section */

.result-section {
    display: flex;
}

.result-left {
    width: 35%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

#con {
    height: 251px;
    margin: 261px auto 50px auto;
    font-family: 'Inconsolata';
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: #3B5437;
}

#nav-to-gal {
    height: 43px;
    font-family: 'Inconsolata';
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    background: #829B7B;
    border-radius: 10px;
    margin: 0px auto 128px auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    border: none;
}

#nav-to-gal:hover {
    margin-top: -3px;
    cursor: pointer;
    box-shadow: 3px 3px #888888;
    transition: box-shadow 0.5s, margin-top 0.5s;
    transition-timing-function: ease;
}

.result-right {
    width: 75%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#conclu {
    width: 90%;
    min-height: 256px;
    padding-top: 50px;
    padding-left: 20px;
    margin-right: 64px;
    margin-top: 128px;
    background-color: rgba(101, 131, 97, 0.8);;
    border-radius: 20px;
    font-family: "DM Sans";
    color: #FFFFFF;
}

.conLine {
    display: flex;
}

.small {
    display: inline;
    font-size: 24px;
    font-weight: lighter;
}

.big {
    display: inline;
    font-weight: 700px;
    font-size: 28px;
}

.graph {
    margin: 10px auto 0px auto;
    min-height: 322px;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 100px;
}

#graph1 {
    width: 256px;
    height: 256px;
    background-color: #E8CEAE;
    border-radius: 128px;
}

#graph2 {
    width: 256px;
    height: 256px;
    background-color: #E8CEAE;
    border-radius: 128px;
}

.graph-text {
    text-align: center;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #486643;
}

.closing {
    margin-right: 64px;
    margin-bottom: 64px;
    font-family: 'DM Sans';
    font-weight: bolder;
    color: #3B5437;
}