body {
    background-image: url("asset/Group 55.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



h1 {
    font-family: "Inconsolata";
    font-size: 60px;
    font-weight: 700;
    color: #3B5437;
    text-align: center;
    padding-top: 63px;
    padding-bottom: 63px;
}

.intro {
    width: 70%;
    margin: 50px auto 50px auto;
    padding-top: 31px;
    padding-bottom: 31px;
    text-align: left;
    font-family: "Inconsolata";
    font-size: 30px;
    font-weight: 500;
}

.nav-sec {
    width: 80%;
    display: flex;
    margin: 80px auto 100px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px 320px;
}

.nav-btn {
    height: 64px;
    line-height: 0px;
    text-align: center;
    width: 384px;
    background-color: #829B7B;
    font-family: "Dosis";
    font-size: 32px;
    color: #F8F9F7;
    border-radius: 15px;
    font-weight: 300;
    padding: 30px;
}

.nav-btn:hover {
    margin-top: -5px;
    cursor: pointer;
    box-shadow: 5px 8px #888888;
}
